@import "tailwindcss";

@keyframes winAnimation {
    0% {
        transform: scale(1);
        color: #FF4500;
    }
    50% {
        transform: scale(1.5);
        color: #FFD700;
    }
    100% {
        transform: scale(1);
        color: #FF4500;
    }
}

@media (max-width: 576px) {
    .heading-container h1 {
        font-size: 6vw;
    }

    .win-counter h2 {
        font-size: 6vw;
    }

    .card {
        font-size: 2.2vw;
    }

    .card.center-card::before {
        font-size: 6vw;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .heading-container h1 {
        font-size: 5vw;
    }

    .win-counter h2 {
        font-size: 3vw;
    }

    .card {
        font-size: 2.2vw;
    }

    .card.center-card::before {
        font-size: 6vw;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .heading-container h1 {
        font-size: 4.5vw;
    }

    .win-counter h2 {
        font-size: 2.5vw;
    }

    .card {
        font-size: 2vw;
    }

    .card.center-card::before {
        font-size: 7vw;
    }
}
